{% extends 'shop/base.html' %}
{% load staticfiles %}


{% block title %}Главная{% endblock %}

{% block content %}
<div class="bother">
        <section id="home-top">
            <header>
                <div class="header-wrap-main">
                    <div class="hd-block">
                        <div class="logo-inner">
                            <div id="logo">
                            <a href="/">
                                <img src="{% static 'img/logo.png' %}" alt="" />
                             </a>
                            </div>
                        </div>
                            <div class="site-description">
                                <a href="/">
                            <p>Комплектующие для винтового</p>
                                <p>конусного дровокола.</p>
                                <p>Конуса для дров</p>
                                    </a>
                            </div>
                    </div>
                    <div class="hd-block">
                        <nav id="main-nav">
                            <ul id="main-menu">
                                <li><a href="{% url 'vidos:youtube' %}">Видео</a></li>
                                <li {% if not category %} class="has-children" {% endif %}><a href="{% url "shop:ProductList" %}">Наши товары</a>
                                <ul class="sub-menu">
                                  {% for cat in categories %}
                                    <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                                      <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>

                                </li>
                                <li><a href="{% url 'shop:oplata_dostavka' %}">Доставка</a></li>
                                <li><a href="{% url 'shop:otzivi' %}">Отзывы</a></li>
                                <li><a href="{% url 'faq:faq' %}">Вопросы</a></li>
                                <li><a href="#contacts">Контакты</a></li>
                            </ul>
                        </nav>
                      </div>
                    <div class="hd-block">
                        <div class="header-phone">8 922 035 28 87</div>
                        <div class="btn "><a href="#callbackwidget"><img src="{% static 'img/h-btn-contact.png' %}" alt=""/></a></div>
                    </div>
                    <div class="hd-block cart-widget">
                        <div class="shop-cart">
                            <img src="{% static 'img/shopping-cart.png' %}" alt=""/>
                        </div>
                        <div class="shop-cart-summ">
                                {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                        Ваша корзина:<br>
                                        <a href="{% url "cart:CartDetail" %}" >
                                            {{ total_items }} тов. {{ cart.get_total_price|floatformat }} руб.
                                        </a>
                                     {% else %}
                                          Корзина пустая
                                    {% endif %}
                                {% endwith %}
                        </div>
                    </div>
                </div>
            </header>
        <div class="monitor-1">
            <h1>КОНУС-КОЛУН</h1>
            <h2>ДЛЯ ВИНТОВОГО ДРОВОКОЛА</h2>
            <div class="home-desc">
                <p> Доставка по России <br> Транспортными компаниями CDEK.ru и DPD.ru и почтой России <span style="color: red; font-weight: bold;"><u>доставка БЕСПЛАТНО, за счет нашей компании!</u></span> <br>  Оплата при по получении, после  осмотра изделия <br>
                </p>
                </div>
            <div class="monitor-1-wrap">
                <div class="mt_1_left">
                    <div class="mt1-img-top">
                    <div class="mt1-img-desc">Колите дрова легко и быстро,
                        экономьте время и силы!</div>
                    <div class="mt2-img-desc">Оптимальные размеры,
                        шаг и глубина резьбы</div>
                    <div class="mt3-img-desc">Сталь повышенной твердости!
                        Российское производство СТ40Х!</div>
                    </div>
                    <div class="mt1-img-bootm">
                    <p>ЕДИНСТВЕННЫЙ ПРОИЗВОДИТЕЛЬ
                        КОНУСА ДЛЯ ДРОВОКОЛА
                        С ДВУХЗАХОДНОЙ РЕЗЬБОЙ</p>
                        <p class="more"><a href="#video">УЗНАЙТЕ БОЛЬШЕ</a></p>
                        <p class="more-img"><a href="#video"><img src="{% static 'img/mouse-down.png' %}" alt=""/></a></p>
                    </div>
                </div>
                <div class="mt_1_right">
                    <div class="mt1-form">
                    <p class="form-desc">
                        Закажите конус</p>
                    <p class="form-desc">для лёгкой колки дров</p>
                    <p class="form-desc">по цене всего</p>
                    <p class="form-desc-price">
                        <span class="form-desc-price-1">5</span>
                        <span class="form-desc-price-2">000</span>
                        <span class="form-desc-price-3"> руб.</span>
                    </p>
                        <div class="action-btn"><img src="{% static 'img/send-req.png' %}" alt=""></div>
                    </div>
                    <div class="mt1-phone">
                    <p>Или закажите по телефону:</p>
                    <p> 8 922 035 28 87<br>
                        8 922 028 87 88
                    </p>
                    <p>Или мы вам сами перезвоним</p>
{#                    <p><a href="#callbackwidget"><img src="{% static 'img/h-btn-contact.png' %}" alt=""/></a></p>#}
                    </div>
                </div>
             </div>
            </div>
            </section>
         <section id="home-top-m">
             <header>
             <div id="mobile-wrap" class="m-header-wrap">
          <div class="m-top-bar">
              <div class="logo-inner">
                 <div id="logo">
                   <a href="/">
                     <img src="{% static 'img/logo.png' %}" alt="" />
                   </a>
                 </div>
               </div>
               <div class="site-description">
                   <a href="/">
                <p>Комплектующие для винтового</p>
                    <p>конусного дровокола.</p>
                    <p>Конуса для дров</p>
                   </a>
                </div>
                <div id="menu-button">
                    <div id="hamburger" class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                            </div>
                    </div>
                    <div class="menu-text">меню</div>
               </div>

            </div>
            <div class="m-top-bar">
                <div class="hd-block">
                        <div class="header-phone">8 922 035 28 87</div>
                        <div class="btn "><a href="#callbackwidget"><img src="{% static 'img/h-btn-contact.png' %}" alt=""/></a></div>
                    </div>
                    <div class="hd-block cart-widget">
                        <div class="shop-cart">
                            <img src="{% static 'img/shopping-cart.png' %}" alt=""/>
                        </div>
                        <div class="shop-cart-summ">
                                {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                        Корзина:<br>
                                        <a href="{% url "cart:CartDetail" %}">
                                            {{ total_items }} тов. {{ cart.get_total_price|floatformat }} ₽
                                        </a>
                                     {% else %}
                                          Корзина
                                    {% endif %}
                                {% endwith %}
                        </div>
                    </div>

            </div>
            <nav class="mobile-navigation">
               <ul id="mobile-menu">
                                <li><a href="{% url 'vidos:youtube' %}">Видео</a></li>
                                <li {% if not category %} class="has-children" {% endif %}><a href="{% url "shop:ProductList" %}">Наши товары</a>
                                <ul class="sub-menu">
                                  {% for cat in categories %}
                                    <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                                      <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                                    </li>
                                  {% endfor %}
                                    </ul>

                                </li>
                                <li><a href="{% url 'shop:oplata_dostavka' %}">Доставка</a></li>
                                <li><a href="{% url 'shop:otzivi' %}">Отзывы</a></li>
                                <li><a href="{% url 'faq:faq' %}">Вопросы</a></li>
                                <li><a href="#contacts">Контакты</a></li>
                            </ul>

              </nav>
                 <div class="monotor-1-m">
                 <h1>КОНУС-КОЛУН</h1>
                 <h2>ДЛЯ ВИНТОВОГО ДРОВОКОЛА</h2>
                    <div class="home-desc">
                <p> Доставка по России <br> Транспортными компаниями CDEK.ru и DPD.ru и почтой России <span style="color: red; font-weight: bold;"><u>доставка БЕСПЛАТНО, за счет нашей компании!</u></span> <br>  Оплата при по получении, после  осмотра изделия <br>
                </p>
                </div>

                 <div class="monitor-m-wrap">
                <div class="monitor-m-top">
                    <div class="mt1-top-wrap">
                        <div class="mt1-m-img">
                        <img src="{% static 'img/faq-img-1.png' %}" alt="" />
                        </div>
                    <div class="mt1-top">Колите дрова легко и быстро,
                        экономьте время и силы!</div>
                    <div class="mt1-top">Оптимальные размеры,
                        шаг и глубина резьбы</div>
                    <div class="mt1-top">Сталь повышенной твердости!
                        Российское производство!</div>
                    </div>

                </div>
                <div class="mt_m_right">
                    <div class="mt1-form">
                    <p class="form-desc">Закажите конус</p>
                    <p class="form-desc">для лёгкой колки дров</p>
                    <p class="form-desc">по цене всего</p>
                    <p class="form-desc-price">
                        <span class="form-desc-price-1">5</span>
                        <span class="form-desc-price-2">000</span>
                        <span class="form-desc-price-3"> руб.</span>
                    </p>
                        <div class="action-btn"><img src="{% static 'img/send-req.png' %}" alt=""></div>
                    </div>
                    <div class="mt1-phone">
                    <p>Или закажите по телефону:</p>
                    <p> 8 922 035 28 87<br>
                        8 922 028 87 88
                    </p>
                    <p>Или мы вам сами перезвоним</p>
                    </div>
                </div>
             </div>
                 </div>
        </div>
             </header>
         </section>

            <section id="slider">

                <div class="home-photo-wrap">

                    <div class="home-slider">
                        <h4>Каталог наших товаров</h4>
                       <!-- Set up your HTML -->
                        <div id="owl-two" class="owl-carousel owl-theme">
                            {% for product in products %}
                            <div class="grid-item">
                               <div class="item-thum">
                                   <div class="more">
                                       <a href="{{ product.get_absolute_url }}">Подробнее</a>
                                   </div>
                                    {% if product.discount %}
                                   <div class="sale">
                                   Скидка - {{ product.discount }}&#37{% comment %}{{ product.discount|floatformat }}₽{% endcomment %}
                                   </div>
                                    {% endif %}

                                    {% if product.new %}
                                   <div class="new">
                                    Новый
                                   </div>
                                    {% endif %}

                                    {% if product.vip %}
                                   <div class="vip">
                                    vip
                                   </div>
                                    {% endif %}

                                    {% if product.akciya %}
                                   <div class="akciya">
                                    Акция
                                   </div>
                                    {% endif %}

                               <a href="{{ product.get_absolute_url }}">
                                   <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image-icon-4.png"%}{% endif %}" >
                               </a>
                               </div>
                               <div class="item-title">
                               {{ product.name }}
                               </div>
                               <div class="item-price">
                                   <div class="picelabel">
                                   <img src="{% static 'img/price-label.png' %}" alt=""/>
                                   </div>
                                   <div class="price price-sale">
                                        {% if product.discount %}
                                       <div class="old-price">
                                             <span class="form-single-old-price-1"></span>
                                             <span class="form-single-old-price-2"></span>
                                             <span class="form-single-old-price-3"></span>
                                       </div>
                                        {% else %}
                                       <div class="new-price">
                                            <span class="form-single-new-price-1"></span>
                                            <span class="form-single-new-price-2">{{ product.price|floatformat }}</span>
                                            <span class="form-single-new-price-3">₽</span>
                                       </div>
                                        {% endif %}
                                   </div>
                                   <div class="price price-sale">
                                       {% if product.discount %}
                                       <div class="old-price">
                                             <span class="form-single-old-price-1"></span>
                                             <span class="form-single-old-price-2">{{ product.price|floatformat }}</span>
                                             <span class="form-single-old-price-3">₽</span>
                                       </div>

                                       <div class="new-price">
                                            <span class="form-single-new-price-1"></span>
                                            <span class="form-single-new-price-2">{{ product.get_sale|floatformat }}</span>
                                            <span class="form-single-new-price-3">₽</span>
                                       </div>
                                    {% endif %}
                                   </div>
                               </div>
                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                    {% csrf_token %}
                                <center class="single-item-more-desc">{{ product.get_form.as_p }}</center><br>
                                 <div class="item-action-btn">
                                        {% if product.need_timer %}
                                            <div class="slide-timer">
                                                <div class="eTimer" data-etDate='{{ product.timer_before|date:"d.m.Y.H.i"}}'></div>
                                            </div>
                                        {% else %}
                                            <div class="slide-else-text">
                                                На данный момент акции нет.
                                            </div>
                                        {% endif %}

                                    <input type="image" src="{% static 'img/item-action-btn.png' %}">
                                 </div>
                            </form>
                                <!-- Вызов модального окна для кнопки "Купить в 1 клик" -->
                                <div style="text-align: center;">
                                    <a href="#win1" class="quick_order_button"><img src="{% static 'img/f-btn-contact-1.png' %}" /></a>
                                </div>
                                <!-- / Вызов модального окна для кнопки "Купить в 1 клик" -->
                            </div>
                            {% endfor %}
                        <!-- Set up your HTML -->
                        </div><br><br><br>
{#                    {% include 'orders/order/post_order.html' %}#}
                            <div class="homeh2-slider">
                                <h2>Доставка по России - <span style="color: red; font-weight: bold;">БЕСПЛАТНО!</span></h2>
                            </div>
                    </div>
                </div>
            </section>

    <!-- Модальное окно для кнопки "Купить в 1 клик" -->

    <div align="center">

        <div class="container">

            <a href="#x" class="overlay" id="win1"></a>
            <div class="popup">


                    <h2>Форма быстрого заказа</h2>
                <form action="" method="post">
                <div class="pic-left">
                    <div id="quick_order_product"></div>
                </div>
                    <div class="quick_order_form" id="contact">
                        {% csrf_token %}
                        <fieldset>
                        <input type='hidden' name='product' id='id_product'>
                        </fieldset>
                        <fieldset>
                            <input type="text" id="myname" name="myname" tabindex="1" placeholder="Фамилия Имя Отчество" required autofocus />
                        </fieldset>
                        <fieldset>
                            <input type="text" id="email" name="email" tabindex="2" placeholder="Ваш e-mail" required />
                        </fieldset>
                        <fieldset>
                            <input type="text" id="phone" name="phone" tabindex="3" placeholder="Ваш телефон" required />
                        </fieldset>
                        <fieldset>
                            <input type="text" id="addres" name="addres" tabindex="4" placeholder="Ваш адрес" required />
                        </fieldset>
                        <fieldset>
                            <select type="select" name="post_delivery" id="post_delivery" tabindex="5" required>
                                <option value="" selected="">Выберите грузоперевозчика:</option>

                                <option value="post_russia">Почта России</option>

                                <option value="post_cdek">Служба доставки СДЭК</option>

                                <option value="post_dpd">Служба доставки DPD</option>

                                <option value="post_kit">Служба доставки KIT</option>

                            </select>
                        </fieldset>
                        <fieldset>
                            <select type="select" name="payment_method" id="id_payment_method" tabindex="6" required>
                                <option value="" selected="">Выберите способ оплаты:</option>

                                <option value="nal">Наличными при получении</option>

                                <option value="bank">Оплата картой банка</option>

                                <option value="walletone">Онлайн оплата(walletone)</option>

                            </select>
                        </fieldset>
                        <fieldset>
                            <textarea name="post_comments" placeholder="Примечание" tabindex="7" required></textarea>
                        </fieldset>
                        <ul class="checkbox_base">
                            <input type="checkbox" checked>Разрешаю обработку, хранение и любые операции с персональными
                            данными
                        </ul>
                        <div class="g-recaptcha" data-sitekey="6Ldq9jEUAAAAAM0bqU7rOTTtsCKVJbope4LPfHQQ"></div><br>
                        <fieldset>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Отправить
                            </button>
                        </fieldset>

                    </div>
                </form>
                    <a class="close" title="Закрыть" href="#close"></a>

            </div>
        </div>
    </div>

<script type="text/javascript">
$('a.quick_order_button').click(function(){
    var parent = $(this).closest('div.grid-item');
    var id_product = parent.find('form').attr('action').match(/^\/cart\/add\/(\d+)\//)[1];
    var id_quantity = parent.find('#id_quantity').val();
    var id_diameter = parent.find('#id_diameter').val();

    var quick_form = $('.quick_order_form');
    quick_form.find('#id_product').val(id_product);

    var els = ['.item-thum', '.item-title', '.item-price', 'form'];
    var quick_order_product = $('#quick_order_product');
    var width = parent.closest('div.owl-item').width();
    quick_order_product.css('width', width);
    quick_order_product.html('');
    for(var i in els) {
        var e = parent.find(els[i]);
        if(els[i] === 'form') {
            e = $("<div></div>").html(e.html())
        }
        quick_order_product.append(e.clone())
    }
    quick_order_product.find('#id_quantity').val(id_quantity);
    quick_order_product.find('#id_diameter').val(id_diameter);

})
</script>
    <!-- / Конец Модальное окно для кнопки "Купить в 1 клик" -->


            <section id="video">
              <div id="mc-container2"></div>
                <h3>УБЕДИТЕСЬ, ЧТО КОЛОТЬ ДРОВА<br>
                    <p>С ПОМОЩЬЮ КОНУСА - БЫСТРО И УДОБНО:</p></h3>
                            {% if v_slider %}
                            <section id="slider-one">
                                <div id="owl-one" class="owl-carousel owl-theme">
                                    {% for slider in v_slider %}
                                    <div class="slide-wrap">
                                        <div class="slide-video">
                                            <div class="item-video"><a class="owl-video" href="{{ slider.links }}"></a></div>
                                        </div>
                                        <div class="slide-title">
                                            {{ slider.title }}
                                        </div>
                                        <div class="item-price">
                                            <div class="picelabel">
                                                <img src="{% static 'img/price-label.png' %}" alt="">
                                            </div>
                                            <div class="price price-sale">
                                                {% if slider.price %}
                                                <div class="new-price">
                                                    <span class="form-single-new-price-1"></span>
                                                    <span class="form-single-new-price-2">{{ slider.price|floatformat }}</span>
                                                    <span class="form-single-new-price-3">₽</span>
                                                </div>
                                                    {% else %}
                                                   Нет пока цены
                                                {% endif %}
                                            </div>
                                            <div class="price price-sale">

                                            </div>
                                        </div>
                                        {% if slider.need_timer %}
                                            <div class="slide-timer">
                                                <div class="eTimer" data-etDate='{{ slider.timer_before|date:"d.m.Y.H.i"}}'></div>
                                            </div>
                                        {% else %}
{#                                            <div class="slide-else-text">#}
{#                                                На данный момент акции нет.#}
{#                                            </div>#}
                                        {% endif %}
                                        <div class="slide-btn">
                                            <a href="/"> Заказать</a>
                                        </div>
{#                                        <div class="slide-link">#}
{#                                            {% if slider.link_tovar %}#}
{#                                            <a href="{{ slider.link_tovar }}">Смотреть товар</a>#}
{#                                                {% else %}#}
{#                                                <div class="slide-else-text">#}
{#                                                Подробней о товаре#}
{#                                                </div>#}
{#                                            {% endif %}#}
{#                                        </div>#}
                                    </div>
                                {% endfor %}
                                </div>
                            </section>
                                {% else %}
                                <div class="video-wrap">
                                    <div class="video-inner">
                                        <iframe width="567" height="425" src="https://www.youtube.com/embed/K9sM2o6tzrU?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                </div>
                        {% endif %}



                <div class="video-btn-wrap">
                 <div class="video-btn-l"><a href="/catalog/vintovye-konusa-koluny/"><img src="{% static 'img/video-btn-char.png' %}" alt="" /></a></div>
                 <div class="video-btn-r"><a href="/catalog/komplekty-drovokola/"><img src="{% static 'img/video-btn-choose.png' %}" alt="" /></a></div>
                </div>
            <div class="video-btn-wrap">
            <h3>Доставка по России бесплатно!</h3>
            </div>
            </section>

{#        <section class="comments">#}
{#              <div class="cackle-comments">#}
{#                {% include 'shop/cacle.html' %}#}
{#               </div>#}
{#     </section>#}

{% include 'vidos/etimer.html' %}


{% endblock %}