{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}{{ otzivi }}{% endblock %}

{% block content %}

<div id="header-wrap" class="header-wrap">
                    <div class="hd-block">
                        <div class="logo-inner">
                            <div id="logo">
                            <a href="/">
                                <img src="{% static 'img/logo.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                            <div class="site-description">
                            <p>Комплектующие для винтового</p>
                                <p>конусного дровокола.</p>
                                <p>Конуса для дров</p>
                            </div>
                    </div>
                    <div class="hd-block">
                        <nav id="main-nav">
                            <ul id="main-menu">
                                <li><a href="{% url 'vidos:youtube' %}">Видео</a></li>
                                <li {% if not category %} class="has-children" {% endif %}><a href="{% url "shop:ProductList" %}">Наши товары</a>
                                <ul class="sub-menu">
                                  {% for cat in categories %}
                                    <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                                      <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>

                                </li>
                                <li><a href="{% url 'shop:oplata_dostavka' %}">Оплата и доставка</a></li>
                                <li><a href="{% url 'shop:otzivi' %}">Отзывы</a></li>
                                <li><a href="{% url 'shop:faq' %}">Вопросы</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="hd-block">
                        <div class="header-phone">8 922 035 28 87</div>
                        <div class="btn "><a href="#callbackwidget"><img src="{% static 'img/h-btn-contact.png' %}" alt=""/></a></div>
                    </div>
                     <div class="hd-block cart-widget">
                        <div class="shop-cart">
                            <img src="{% static 'img/shopping-cart.png' %}" alt=""/>
                        </div>
                        <div class="shop-cart-summ">
                                {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                        Ваша корзина:<br>
                                        <a href="{% url 'cart:CartDetail' %}">
                                            {{ total_items }} тов. {{ cart.get_total_price|floatformat }} руб.
                                        </a>
                                     {% else %}
                                          Корзина пустая
                                    {% endif %}
                                {% endwith %}
                        </div>
                    </div>
                </div>
         <div id="mobile-wrap" class="m-header-wrap">
          <div class="m-top-bar">
              <div class="logo-inner">
                 <div id="logo">
                   <a href="/">
                     <img src="{% static 'img/logo.png' %}" alt="" />
                   </a>
                 </div>
               </div>
               <div class="site-description">
                            <p>Комплектующие для винтового</p>
                                <p>конусного дровокола.</p>
                                <p>Конуса для дров</p>
                </div>
                <div id="menu-button">
                    <div id="hamburger" class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                            </div>
                    </div>
                      <div class="menu-text">меню</div>
               </div>

            </div>
            <div class="m-top-bar">
                <div class="hd-block">
                        <div class="header-phone">8 922 035 28 87</div>
                        <div class="btn "><a href="#callbackwidget"><img src="{% static 'img/h-btn-contact.png' %}" alt=""/></a></div>
                    </div>
                    <div class="hd-block cart-widget">
                        <div class="shop-cart">
                            <img src="{% static 'img/shopping-cart.png' %}" alt=""/>
                        </div>
                        <div class="shop-cart-summ">
                                {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                        Корзина:<br>
                                        <a href="{% url "cart:CartDetail" %}">
                                            {{ total_items }} тов. {{ cart.get_total_price|floatformat }} ₽
                                        </a>
                                     {% else %}
                                          Корзина
                                    {% endif %}
                                {% endwith %}
                        </div>
                    </div>

            </div>
            <nav class="mobile-navigation">
               <ul id="mobile-menu">
                                <li><a href="{% url 'vidos:youtube' %}">Видео</a></li>
                                <li {% if not category %} class="has-children" {% endif %}><a href="{% url "shop:ProductList" %}">Наши товары</a>
                                <ul class="sub-menu">
                                  {% for cat in categories %}
                                    <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                                      <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                                    </li>
                                  {% endfor %}
                                    </ul>

                                </li>
                                <li><a href="{% url 'shop:oplata_dostavka' %}">Оплата и доставка</a></li>
                                <li><a href="{% url 'shop:otzivi' %}">Отзывы</a></li>
                                <li><a href="{% url 'shop:faq' %}">Вопросы</a></li>
                            </ul>

              </nav>
        </div>

<main  class="site-main" role="main">
   <section id="review-block">
     <div class="pagination">
                <ul id="paginate">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'shop:otzivi' %}">Отзывы</a></li>
                </ul>
             </div>
     <div class="content">
            <h1>ОТЗЫВЫ О КОЛУНЕ ОТ НАШИХ ПОКУПАТЕЛЕЙ:</h1>
            <h2>Желаете оставить свой отзыв?</h2>
            <h3><a class="nonblock" href="#mc-container">Жмите сюда для отзывов и предложений</a></h3>
            <div class="review-page-wrap">
                <div class="review-item" >
                    <div class="item-review-inner">
                        <div class="review-content">
                        Заказал морковку, изготовили за 24 часа, Выслали на эл.почту фото изделия, готового к отправке, штангенциркуль показал диаметр посадочного на вал. Терпеливо ответили на ВСЕ вопросы. Отправили ТК Кит, пришла посылка за ШЕСТЬ дней. Самым медленным оказался я~ три дня добирался до банка. морковка уже испытана на самых экстремальных чурках: ничего не погнулось, носик не ломается даже на суках, единственно что изменилось после раскола 30 кубов дров~ морковка стала блестеть как у кота эти самые. Шикарный топор~колун матрикс, на длинной пластиковой ручке с обратной посадкой, после 12 лет безотказной эксплуатации уволен в запас. колоть морковкой в 5 раза быстрее и в 100 раз легче. Огромная благодарность от меня, моей семьи и соседей , за оперативность, качество и низкую цену!
                        </div>
                        <div class="review-author">Александр Пытиков,Минск</div>
                        </div>
                     </div>
                <div class="review-item" >
                    <div class="item-review-inner">
                        <div class="review-content">
                        Занимаюсь продажей дров 30 лет и заказывал у многих дровокольные конусы, но все присылают морковку с грядки и для веса кирпичи, не разу ещё не выслали конус. Заказы делал во все города России но отовсюду слали морковку с кирпичами. Только вы одни мне выслали дровокольный конус. Колю и радуюсь, он такой красивый что даже во сне мне снится.
                        </div>
                        <div class="review-author">Нестер</div>
                        </div>
                     </div>
                <div class="review-item" >
                    <div class="item-review-inner">
                        <div class="review-content">
                        Добрый день! Вчера залез на почтовый сайт - пришла. Сегодня утром получил. То, что перед кончиком получается много слоёв картона - правильно, но и это не спасло от протыкания. Схватился рукой за резьбу и получил возможность по расстоянию между порезами проверить шаг резьбы. То, что резьба стопорных отверстий - восьмёрка, тоже очень хорошо. Короче - всем доволен и спасибо.
                        </div>
                        <div class="review-author">Владимир Гриванов</div>
                        </div>
                     </div>
                <div class="review-item" >
                    <div class="item-review-inner">
                        <div class="review-content">
                        Добрый день! Вчера залез на почтовый сайт - пришла. Сегодня утром получил. То, что перед кончиком получается много слоёв картона - правильно, но и это не спасло от протыкания. Схватился рукой за резьбу и получил возможность по расстоянию между порезами проверить шаг резьбы. То, что резьба стопорных отверстий - восьмёрка, тоже очень хорошо. Короче - всем доволен и спасибо.
                        </div>
                        <div class="review-author">Семён</div>
                        </div>
                     </div>
                </div>
            <div class="youtube-box">
                <div class="yotube-text">
                    Еще больше отзывов на нашем канале:
                </div>
                <div class="youtube-btn">
                 <a href="https://www.youtube.com/channel/UCI9rBB6TUHE-XZ_elwOi-cg" target="_blank"><img src="{% static 'img/yotube-btn.png' %}" alt="" /></a>
                </div>
            </div>
            <div class="social-box">
                <div class="social-text">
                    Мы в социальных сетях:
                </div>
                <div class="social-list" id="social">
                   <ul class="social-icons">
                      <li><a href="https://vk.com/odrova8" title="Вконтакте" target="_blank"><img src="{% static 'img/soc-i-vk.png' %}" alt=""/></a></li>
                      <li><a href="https://www.facebook.com/groups/132544753956741/" title="Фейсбук" target="_blank"><img src="{% static 'img/soc-i-fac.png' %}" alt=""/></a></li>
                      <li><a href="https://m.ok.ru/group/53238553706648" title="Одноклассники" target="_blank"><img src="{% static 'img/soc-i-ok.png' %}" alt=""/></a></li>
                    </ul>
                </div>
            </div>
           </div>
     </section>
     <section class="comments">
              <div class="cackle-comments">
                {% include 'shop/cacle.html' %}
               </div>
     </section>
    </main>


{% endblock %}