.content
{
	width:75%;
	margin:1em auto;
}
#content-wrap
{
	margin-bottom: 10px;
	padding-top: 10px;
}
#container
{
	margin: 0 auto;
	max-width: 1124px;
	padding: 45px 5px 0;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	padding-left: .9375rem;
	padding-right: .9375rem;
	position: relative;
}
.container::after
{
	clear: both;
	content: "";
	display: table;
}
@media(min-width:544px)
{
	.container
	{
		max-width: 576px;
	}
}
@media(min-width:768px)
{
	.container
	{
		max-width: 720px;
	}
}
@media(min-width:992px)
{
	.container
	{
		max-width: 940px;
	}
}
@media(min-width:1200px)
{
	.container
	{
		max-width: 1170px;
	}
}
#content
{
	float: left;
	margin: 0;
	position: relative;
	width: 66.5%;
}
#content img
{
	max-width: 100%;
}
.block
{
	background: #fff;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	margin: 0 0 15px;
	moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	padding: 0 10px 5px;
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);

}
.block-title
{
	background: rgba(176,190,197,.16);
	border-bottom: 1px solid #dadada;
	border-radius: 3px 3px 0 0;
	margin: 0 -10px 10px;
	padding: 6px 10px;
	text-shadow: 1px 1px #fff;
	font: 300 0.9rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;

}
.block-title a
{
	color: #889ede;
}
.block-title a:hover
{
	color: orange;
}
#sidebar-right .block-title
{
	background: #90a4ae;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.75);
}
.post_thumbnail
{
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	margin: 5px 22px 5px 0;
	moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	moz-transition: all ease .3s;
	ms-transition: all ease .3s;
	o-transition: all ease .3s;
	/*shape-outside: circle();*/
	transition: all ease .3s;
	webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	webkit-transition: all ease .3s;
}
.post_thumbnail:hover
{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.post
{
	border-bottom: 1px dotted #ccc;
	margin-bottom: 15px;
	padding: 0 5px 10px;
}
.post h3
{
	color: #3f7900;
	padding: 0 0 5px;
}
.title
{
	color: #4c6695;
	font-weight: 300;
	margin: 0 0 .75em;
	padding: 0.3em;
	text-shadow: 0 1px 2px #ccc;
}
.title a
{
	font: 300 1.5rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;
	background-image: linear-gradient(to right,rgba(255,255,255,0) 50%,#ddd 50%);
	background-position: 0 0;
	background-size: 200.22% auto;
	color: #359cc6;
	moz-background-size: 200.22% auto;
	text-decoration: none;
	transition: background-position .5s ease-out;
	webkit-background-size: 200.22% auto;
	webkit-transition: background-position .5s ease-out;
}
.title a:hover
{
	background-position: -99.99% 0;
	color: #e88f00;
	text-decoration: none;
	text-shadow: 1px 2px 3px #ddd;
}
.post-info
{
	display: block;
	overflow: hidden;
	padding-bottom: 10px;
	font: 300 0.9rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;
	margin: 10px;
}
.post-info .postdate
{
	background: url(img/date.png) 0 50% no-repeat;
	color: #888;
	margin-right: 10px;
	padding-left: 16px;
}
.post-info .author
{
	background: url(img/user.png) 0 50% no-repeat;
	color: #359cc6;
	margin-right: 10px;
	padding-left: 16px;
}
.post-info .comment
{
	background: url(img/comment.png) 0 50% no-repeat;
	color: #359cc6;
	margin-right: 10px;
	padding-left: 16px;
}
.post-info .view
{
	background: url(img/view.gif) 0 50% no-repeat;
	color: #888;
	margin-right: 10px;
	padding-left: 18px;
}
h7
{
	font-size: 1.6rem;
	line-height: 1.3;
	margin-bottom: .75em;
}
.entry
{
	color: #444;
	font: 300 1rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;
	margin: 5px;
	padding: 5px;

}
.entry li a
{
	padding-left: 10px;
	color: #359cc6;
	font: 300 1rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;
}
.readmore
{
	margin: 10px 10px 5px 10px;
	text-align: right;
}
.readmore a.butmore
{
	background-color: transparent;
	border: 1px solid #3e4551;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	color: #4b515d !important;
	cursor: pointer;
	display: inline-block;
	font-size: .8rem;
	font-weight: normal;
	line-height: 1.25;
	margin: 0;
	moz-transition-duration: .2s;
	moz-user-select: none;
	ms-user-select: none;
	padding: .45rem 1rem;
	text-decoration: none;
	transition-duration: .2s;
	user-select: none;
	vertical-align: middle;
	webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	webkit-transition-duration: .2s;
	webkit-user-select: none;
}
.readmore a.butmore:hover
{
	background-color: transparent !important;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	text-decoration: none;
	webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.readmore a.butmore:active
{
	background-color: transparent !important;
}
.alignleft
{
	float: left;
}
.clear
{
	clear: both;
}

.yarlist
{
	list-style: none outside none;
	margin: 0;
	padding: 0;

}
.yarlist li a
{
	padding-left: 10px;
	color: #359cc6;
	text-decoration: none;
	font: 300 1rem/1.4 'Exo 2',Tahoma,Verdana,Segoe,sans-serif;
}

.yarlist li a
{
	padding-left: 10px;
}
/*.yarlist li a:before*/
/*{*/
	/*content: "\f055";*/
	/*display: inline-block;*/
	/*font: normal 14px/1.5'dashicons';*/
	/*margin-right: 5px;*/
	/*vertical-align: top;*/
	/*webkit-font-smoothing: antialiased;*/
/*}*/
/*.yarlist li a:hover:before*/
/*{*/
	/*content: "\f132";*/
	/*display: inline-block;*/
	/*font: normal 14px/1.5'dashicons';*/
	/*margin-right: 5px;*/
	/*vertical-align: top;*/
	/*webkit-font-smoothing: antialiased;*/
/*}*/


/*.simplist li,.yarlist li*/
/*{*/
	/*padding: 2px 0;*/
/*}*/


.home-slider h4{
	text-align:center;
	line-height:29px;
	font-size:34px;
	text-align:center;
	color:#000000;
	font-family:'__Marmelad_5';
	font-weight:400;margin:1em 0;
}
